server.port=
spring.application.name=
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=

spring.jpa.properties.hibernate.jdbc.time_zone=
spring.jpa.database-platform=

api.security.token.secret=

spring.jpa.hibernate.ddl-auto=